body{
    margin: 0px;
    padding: 0px;
    color: white;
    background: url('abs-g83e9d5f7d_1920.jpg');
    
}
.left{
    display: inline-block;
    position: absolute;
     left: 36px;
     top: 10px;
     line-height: 15px;
     font-size: 20px;
     
    


}
.left img{
    width: 80px;
    filter: invert(100%);


}
.left div{
    text-align: center;
    margin-bottom: 20px;
}
.mid{
    display: block;
    width: 33%;
    margin: 22px auto;
    
}
.right{
     display: inline-block;
     position: absolute;
     right: 34px;
     top: 20px;
     
    
}
.navbar{

    display: inline-block;
}
.navbar li{
    display: inline-block;
     text-decoration: none;
     padding: 1px 12px;
     font-size: 20px;
}

.navbar li:hover, .navbar li:active{
text-decoration: underline; 
color: gray;   
}

.btn{
    background-color: black;
    color: white;
    margin-right: 5px;
    margin-top: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: gray solid 1px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}
.btn:hover{
    color: black;
    transition: 0.2;
    background-color: gray;
}


.div-from{
    margin: 106px 50px;
    padding: 75px;
    border: white solid 2px;
    width: 28%;
    border-radius: 28px;
}
.from-group input{
    text-align: center;
    display: block;
    width: 270px;
    padding: 6px;
    border: 2px solid black;
    margin: 9px auto;
    border-radius: 5px;
}
.div-from{
    text-align: center;
}
.div-from h1{
 font-size: 25px;
}